@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Nunito+Sans:ital,opsz,wght@0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --main-bg-color: #018491;
  --head-bg-color: #025464;
}

* {
  font-family: "Inter", sans-serif;
}
// navbar

.navbar {
  .container-fluid {
    .collapse {
      ul {
        .nav-item {
          margin-right: 26px;
          nav-link {
            font-size: 16px;
            font-weight: 600;
          }
        }
      }
    }
  }
}

.navbar form .btn {
  background: #018491;
  color: white;
}

.navbar form .btn:hover {
  transform: scale(1.02);
}
// header
.head {
  height: 600px;
  background-color: var(--head-bg-color);
  .row {
    .kiri {
      .content {
        h1 {
          font-weight: bold;
          font-size: 45px;
          color: #fff;
          margin-bottom: 40px;
        }
        p {
          width: 575px;
          color: #fff;
          font-family: Poppins;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin-bottom: 40px;
        }
        .btn {
          width: 75%;
          height: 100%;
          background: white;
          border-radius: 15px;
          color: #018491;
          border-radius: 15px;
        }
        a {
          color: #018491;
          font-family: Poppins;
          font-size: 18px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
        .kanan {
          .img-fluid {
            width: 500px;
            height: 500px;
            top: 94px;
            left: 811px;
          }
        }
      }
    }
  }
}
